
<h2>Update Landmark</h2>

<form method="post" action="/landmarks/<%=@landmark.id%>">

  <input type="text" name="landmark[name]" id="name">Landmark Name</input>

  <br></br>

  <input type="text" name="landmark[year_completed]" id="year_completed"> Year Completed: <%= @landmark.year_completed.to_s %></input>

  <br></br>

  




  <input type="submit" value="Edit Landmark"> 


</form>