


<form method="post" action="/landmarks/new">


<h2>hello</h2>
  <input type="text" name="landmark[name]" id="landmark_name">Landmark Name</input>

  <br></br>

  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">Landmark Year Completed</input>

  <br></br>

  <input type="submit" value="Create New Landmark"> 




</form>