

<form method="post" action="/figures/new">

  <input type="text" name="figure_name"> Figure Name  </input>



  <input type="text" name="figure[title_ids][]" id="" value=""></input>


  <input type="text" name="figure[landmark_ids][]" id="" value="">
  </input>  

  
  <input type="text" name="landmark[name]" id="" value=""> 

  </input>  


  <input type="text" name="title[name]" id="" value=""></input>  


</form>